.header {

    display: flex;
    justify-content: end;
    padding-right: 7vw;
    gap: 30px;
    align-items: center;
    width: 100vw;
    height: 8vh;
    box-shadow: rgba(9, 30, 66, 0.05) 0px 4px 8px -2px, rgba(9, 10, 10, 0.03) 0px 0px 0px 1px;

}