@keyframes fading {
    from {opacity: 0;}
    to {opacity: 1;}
}

.main-container {
    background-color: var(--saphire-fade);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.forms-header {
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 20px;
    height: 8vh;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100vw;
}

.form-container {

    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    padding-top: 70px;
    padding-bottom: 120px;
    border-radius: 5px;
    background-color: white;
    gap: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    animation:  0.2s fading ease-in;
}

.greetings {

    font-size: 24px;
    font-weight: bold;
    color: var(--title);


}

.greetings-login {

    font-size: 14px;
    opacity: 0.5;
    font-weight: 500;
    letter-spacing: 0.1px;

}

.centered-register {

    align-self: center;
    font-weight: 500;
}

.footer {

    display: flex;
    flex-direction: column ;
    height: 10vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

