.logo-container {

    gap: 8px;
    display: flex;
    align-items: center;

}

.logo-text {

    font-weight: 500;
    font-size: 26px;
}

.logo {

    background-color: var(--saphire-clear);
    border-radius: 50px;
    padding: 2px;
}