

.icon-container {

    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding: 12px;
    border-radius: 4px;
    width: 90%;
    border: none;
    transition: 0.2s;
    color: var(--text-color);
    font-weight: 500;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    background-color: var(--white);
}

.icon-container:hover {
    background-color: var(--saphire);
    color: var(--white);
    
}

.icon-container.active {

    background-color: var(--saphire);
    color: white;

}

.icon-container.logout:hover {

    background-color: var(--ruby);
    color: white;

}


