.bot-message-container {
    display: flex;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
}

.message-container {
    
    display: flex;
    justify-content: end;
    padding: 10px;
    border-radius: 6px;

}

.message {

    background-color: var(--saphire-fade);
    padding: 10px;
    border-radius: 6px;
    max-width: 60%;
    
}

.bot-message {

    padding: 10px;
    border-radius: 6px;
    max-width: 60%;

}