

.toogle-container {

    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap:10px;
    padding: 8px;
    width: 90%;
    border-radius: 8px;
    border: none;
    transition: 0.2s;
    color: var(--text-color);
    font-weight: 500;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    background: none;
    color: var(--white);

}

.label {

    font-size: 14px;
}

.toogle {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--saphire);
    padding: 6px;
    width: 25%;
    border-radius: 12px;
}

.inner-circle {

    background-color: var(--white);
    padding: 6px;
    width: 10px;
    border-radius: 50%;
    height: 10px;
    transition: 0.2s ease-in;
}

.inner-circle.active {

    margin-left: 60%;
}