

.toogle-container {

    display: flex;
    align-items: center;
    gap:10px;
    padding: 12px;
    width: 90%;
    border-radius: 4px;
    border: none;
    transition: 0.2s;
    color: var(--text-color);
    font-weight: 500;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    background-color: var(--saphire-fade);
}

.toogle {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--smoke);
    padding: 6px;
    width: 25%;
    border-radius: 12px;
}

.inner-circle {

    background-color: var(--white);
    padding: 6px;
    width: 13px;
    border-radius: 50%;
    height: 13px;
    transition: 0.2s ease-in;
}

.inner-circle.active {

    margin-left: 70%;
}