.touchable {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 9px;
    border-radius: 8px;
    border: none;
    transition: 0.2s;
    background-color: var(--saphire);
    color: var(--clear);
    font-weight: 500;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.touchable:hover {
    opacity: 0.8;
}


